@charset "utf-8";
/* CSS Document */

body{
	background-color:#FFFFFF;	
}

.transparent{
    opacity:0;
}


/*jQuery Added Class To Show Big Menu*/
.active-navigation{
    opacity:1!important;
    pointer-events:auto!important;
    transition:all 600ms ease;
}
/*jQuery Added Class To Show Background Of Menu*/
.active-background{
    opacity:1!important;
    pointer-events:auto!important;
    transition:all 350ms ease;
}

.navigation-wrapper{
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    padding:20px;
    z-index:999999;
    top:0px;
    pointer-events: none;
    opacity:0;
    transition:all 350ms ease;
}


@media(min-width:768px){
    .navigation-wrapper{
        width:300px;   
        height:540px;
        left:50%;
        top:50%;
        margin-left:-150px;
        margin-top:-270px;
        padding:0px;
        border:solid 1px rgba(0,0,0,0.1);
    }
}

.navigation-background{
    position:fixed;
    width:100%;
    height:100%;
    z-index:999998;
    top:0px;
    bottom:0px;
    background-color:rgba(0,0,0,0.7);
    pointer-events: none;
    opacity:0;
    transition:all 600ms ease;
}

.navigation-content{
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    overflow: hidden;
    position: relative;
}

.navigation-scroll{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    /*right: -15px;  Increase this value (in negative) for cross-browser compatibility */
    overflow: auto;   
}

.navigation-scroll::-webkit-scrollbar { 
    display: none; 
}

.navigation-logo{
    width:110px;
    height:25px;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-size:110px 25px;
    margin-left:30px;
    margin-top:30px;
    margin-bottom:30px;
}

.navigation-hide{
    position:absolute;
    right:0px;
    top:0px;
    width:85px;
    height:85px;
}

.navigation-hide i{
    width:85px;
    height:85px;
    line-height:85px;
    text-align:center;
    font-size:14px;
    color:#1f1f1f;
}

.navigation{
    margin-top:-30px;
}

.navigation li{
    list-style:none;
    line-height:60px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    margin-bottom:0px;
}

.navigation li i:first-child{
    position:absolute;
    left:30px;
    margin-top:21px;
    font-size:18px!important;
}

.navigation li .fa-circle{
    position:absolute;
    right:41px;
    font-size:6px;
    margin-top:27px;
}

.navigation li .fa-plus{
    position:absolute;
    right:39px;
    font-size:10px;
    margin-top:27px;
    transition:all 200ms ease;
    margin-top:29px!important;
}

.submenu{
    display:none;
    margin-bottom:0px;
}

.active-submenu{
    display:block;
}

.active-submenu .fa-plus{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    transition:all 200ms ease;
    color:#e74c3c;

}

.active-menu .fa-circle{
    color:#27ae60!important;
    font-size:8px!important;
    right:39px!important;
}

.active-menu{
    font-weight:500!important;
    color:#1f1f1f!important;
}

.navigation li a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-size:14px;
    font-weight:500;
    color:rgba(0,0,0,0.8);
    padding-left:70px;
}

.submenu li{
    border:none;
    padding-left:30px;
    height:100%;
    display:block;
    position:relative!important;
}

.submenu li a{
    color:#666666;
    font-size:12px;
    font-weight:400;
    line-height:50px;
}

.submenu li:last-child{
    margin-bottom:15px;
}

.submenu li i:first-child{
    font-size:12px!important;
    margin-top:28px;
    margin-left:10px;
}

.submenu .fa-angle-right{
    margin-top:20px!important;
}

.submenu .fa-circle{
    margin-top:21px!important;
    right:41px!important;
}

.navigation-socials{
    width:162px;
    margin-left:auto;
    margin-right:auto;  
    height:70px;
    margin-top:-10px;
    
}

.navigation-socials a{
    transition:all 500ms ease;
}

.navigation-socials a:hover{
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
    color:#FFFFFF;
}

.navigation-socials{
    width:180px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.navigation-socials a{
    width:40px;
    height:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
    border-radius:40px;
    margin-bottom:10px;
    margin-top:10px;
}

.navigation-socials a i {
    line-height:40px;
    text-align:center;
    width:40px;
    height:40px;
}

.facebook-color{
    background-color:#3b5998;
    color:#FFFFFF;
}

.twitter-color{
    background-color:#4099ff;
    color:#FFFFFF;
}

.google-color{
    background-color:#d34836;
    color:#FFFFFF;
}

.navigation-footer{
    text-align:center;
    margin-top:-10px;
    margin-bottom:20px;
}


/*Header*/

.header{
    position:fixed;
    background-color:#FFFFFF;
    width:100%;
    height:70px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    z-index:999997;
}

.header-clear{height:70px; display:block;}
.footer-clear{height:60px; display:block;}

.header-logo{
    background-image:url(../images/logo.png);
    background-size:100px 25px;
    width:100px;
    height:25px;
    float:left;
    margin-top:23px;
    margin-left:30px;
}

.header-menu{
    font-size:18px;
    float:right;
    width:70px;
    height:70px;
    line-height:70px;
    text-align:center;
    margin-top:0px;
    margin-right:0px;
    color:#1f1f1f;
    z-index:9999999;
}

.header-menu:hover{
    color:#1f1f1f;
}


/*Socials*/

.center-socials{
    width:162px;
    margin-left:auto;
    margin-right:auto;  
    margin-bottom:-30px;
}

.center-socials a{
    transition:all 500ms ease;
    margin-bottom:30px;
}

.center-socials a:hover{
    color:#FFFFFF;
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
}

.center-socials .facebook-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:7px;
    margin-right:7px;
}

.center-socials .twitter-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:7px;
    margin-right:7px;
}

.center-socials .google-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:7px;
    margin-right:7px;
}

/*Thumbnails Columns*/

.thumb-clear{
	height:30px;
	display:block;
	width:100%;
    clear:both;
}

.thumb-left{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-left a{
	display:block;
	text-align:right;
}

.thumb-left img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:left;
	margin-right:20px;
    transition:all 500ms ease;
}

.thumb-left img:hover{
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
}

.thumb-left strong{
	color:#1a1a1a;
	display:inline-block;
	padding-bottom:5px;
	font-size:15px;
    margin-top:5px;
}

.thumb-left em{
	font-style:normal;
    line-height:30px;
}

.thumb-right{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-right img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:right;
	margin-left:20px;
    transition:all 500ms ease;
}

.thumb-right img:hover{
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
}

.thumb-right strong{
	color:#1a1a1a;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
}

.thumb-right em{
	font-style:normal;
    line-height:30px;
}


@media (min-width:600px){
	.thumb-left img{
		width:140px;
		height:140px;
		border-radius:150px;	
	}
	
	.thumb-left em{
		line-height:28px;	
	}
	
	.thumb-left strong{
		padding-top:10px;	
	}
	
	.thumb-right img{
		width:140px;
		height:140px;
		border-radius:150px;	
	}
	
	.thumb-right em{
		line-height:28px;	
	}
	
	.thumb-right strong{
		padding-top:10px;	
	}	
}


/*////////////////////*/
/*Quote & Staff Slider*/
/*////////////////////*/

.staff-item img{
	border-radius:300px;	
	max-width:150px;
	margin-left:auto;
	margin-right:auto;
    transition:all 500ms ease;
    margin-top:10px;
}

.staff-item img:hover{
    transform:scale(1.1, 1.1);
    transition:all 500ms ease;
}

.staff-item h4{
	text-align:center;
	margin-top:20px;	
	font-size:16px;
}

.staff-item em{
	text-align:center;
	font-size:12px;
	color:#e34e47;
	display:block;
	margin-top:-10px;
	margin-bottom:10px;
	font-style:normal;
}

.staff-item strong{
	display:block;	
	font-weight:400;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	line-height:28px;
    margin-left:auto;
    margin-right:auto;
}

/*Regular Footer*/

.footer-icons{
    width:240px;
    margin-left:auto;
    margin-right:auto;
}

.footer-icons a{
    transition:all 500ms ease;
    margin-bottom:30px;
}

.footer-icons a:hover{
    color:#FFFFFF;
    transform:scale(0.9, 0.9);
    transition:all 500ms ease;
}

.footer-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    float:left;
    border-radius:40px;
    margin-left:10px;
    margin-right:10px;
}

.footer-up{
    background-color:#27ae60;
    color:#FFFFFF;
}

